h2 {
    font-family: "Papyrus", "Herculanum", "Party LET", "Curlz MT", "Harrington", fantasy;
    color: rgb(80, 41, 11);
    text-align: center;
}

#image {
    width: 100%;
    height: 500px;
    position: static;
    overflow: hidden;
    display: flex;
}

#image:hover img {
    transform: scale(1.1);
}

img {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}